ray[rllib]==2.10.0
gymnasium==0.28.1
numpy==1.26.4
pyarrow>=14,<17
python-chess==1.999
requests==2.32.3
fastapi==0.115.5
uvicorn[standard]==0.32.0
torch==2.4.1      # single source of truth
tensorboard

python-dotenv
stockfish==3.28.0
python-chess
requests